*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-color: #230E3D;
  color: white;
}

header{
  display: flex;
  justify-content:  space-between;
  padding: 20px 200px;
  align-items: center;
}
.logo{
  color: white;
}
.wave{
  background: linear-gradient(90deg, yellow,  #ff4ecd );
  background-clip: text;
  color: transparent;
}

.navbar{
  display: flex;
  gap: 32px;

}

.navbar a{

  text-decoration: none;
  color: white;
}

.btn{
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: 700px;
  cursor: pointer;
   background: linear-gradient(
    90deg,
    #ffdd00 0%,
    #ff4ecd 50%,
    #2b6cff 80%
    );
}

/* banner section */
.banner{
  /* border: 2px solid yellow; */
  background-image: url(hero-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px;
  text-align: center;
  /* height: 100vh; */
}
.spo-mes{
  display: flex;
  gap: 10px;
}

.pic{
  position: relative;
  width: 300px;
}
 .btn-1{
 background: linear-gradient(
    90deg,
    #ffdd00 0%,
    #ff4ecd 50%,
    #2b6cff 80%
    );
  padding: 10px;
  border-radius: 30px;
  display: flex;
  gap: 5px;
  color: white;
  align-items: center;
  font-size: medium;
 }
 .btn-2{
  border: 1px solid #00FF88;
 padding: 10px;
 border-radius: 30px;
 display: flex;
 gap: 5px;
 background-color: #230E3D;
 color: white;
 align-items: center;
 font-size: medium;
 }
.bg-pic{
  width: 100%;
  display: block;
}
.front-pic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* podcast */
.podcast{
  /* display: flex; */
}

.pod{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.pod p{
  font-size: 16px;
  font-weight:400px;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.mon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.epi{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ave{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ind{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcast h1{
  color: #00FF88;
}

/* box. */

.grid{
  padding: 100px 200px;
  text-align: center;
}
.box-container{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

}
.box{
  background-color:#351165;
  padding: 10px;
  border-radius: 20px;

}
#box-1{
  grid-row: span 2;
  padding: 50px;
}
#box-2{
  grid-column: span 2;
  padding: 50px;
}
#box-3{
  grid-column: span 1;
  grid-row: span 1;
  padding: 50px;
}

/* Featured Episodes */
.yt-videos{
  /* border: 2px solid yellow; */
  display: grid;
  padding: 100px;
  text-align: center;
  height: 800px;
 
}

.yt-videos h2{
  font-size: 48px;
  font-weight: 700px;
 
}

.videos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat( 3, 1fr);
  gap: 15px;
}

.vd-1{
  grid-row: span 1;
  background-color:#351165;
  padding: 20px;
  border-radius: 20px;
  width: 350px;

}

/* challehges */

.challenges{
  display: grid;
  padding: 200px;
  gap: 20px;
  /* align-items: center; */
  /* justify-content: center; */
  
}

.challenges h2{
display: flex;
justify-content: center;
}


.cha{
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #351165;
  padding: 20px;
  border-radius: 20px;
}

.icons{
  display: flex;
  gap: 15px;

}

/* footer */
.footer{
  background-image: url(footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  text-align: center;
 
  
}

.footer-menu{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;

}

.footer-wave{
 background: linear-gradient(90deg, yellow, #ff4ecd);
  background-clip: text;
    color: transparent;
}
.footer p{
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer h1{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer div{

  /* border: 2px solid #ffdd00; */
}

.footer-img-1{
  display: flex;
  /* padding: 20px; */
  gap: 10px;
  
}